<div id="content" ng-controller="homeCtrl">
    <div class="container feature"> 

      
      <div class="main-content featured-content ">
        <h2>饿了吗</h2>
        
        <!--  Steps -->
        
        <section class="org-info">
          <div class="services steps row">
            <div class="col-sm-3 effect-a">
              <div class="one service-block shine" ng-click="visitBigMenu()">
                <h3><span class="glyphicon glyphicon-cutlery"></span><span>大菜单<small></small></span></h3>
              </div>
            </div>
            <div class="col-sm-3 effect-b">
              <div class="one service-block shine">
                <h3><span class="glyphicon glyphicon-glass"></span><span>小菜单<small></small></span></h3>
              </div>
            </div>
            <div class="col-sm-3 effect-c">
              <div class="one service-block shine">
                <h3><span class="glyphicon glyphicon-user"></span><span>注册成为会员 <small></small></span></h3>
              </div>
            </div>
            <div class="col-sm-3 effect-d">
              <div class="one service-block shine">
                <h3><span class="glyphicon glyphicon-hand-right"></span><span>分享给朋友 <small></small></span></h3>
              </div>
            </div>

       <button type="button" ng-click="sendMessage()">message test</button> 

          </div>
        </section>
        <!--  Steps --> 
        
      </div>
    </div>
    <section class="main-content-wrap">
      <div class="container advertised-feature">
        <h2> 不知道吃什么? 看我们推荐的菜肴. </h2>
        <div class="advertise-section-wrap row">
          <article class="advertise-inner col-xs-12">
            <figure> <img src="assets/img/lappy.png" alt="" /> </figure>
            <p>图片列表待改。。.</p>
          </article>
        </div>
      </div>
    </section>
</div>

